<link rel="stylesheets" href="/css/dashboard.css" ></link>
<script type="text/javascript" src="/js/dashboard.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<div class="container">
  <h1>{{user.username}}</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
             <h1>doTo</h1>
                <input type="text" class="form-control add-todo" placeholder="Add todo">
                    <button id="checkAll" class="btn btn-success">Mark all as done</button>

                    <hr>
                    <ul id="sortable" class="list-unstyled">
                      {{#each entries}}
                      <li class="ui-state-default">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" value="" />{{this.complaint}}</label>
                                  <p>{{this.compType}}</p>
                          </div>
                      </li>
                      {{/each}}


                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="todolist">
             <h1>Already Done</h1>
                <ul id="done-items" class="list-unstyled">
                    <li><button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<li role="presentation"><a href="/users/logout">Logout</a></li>
