<div class="container">
  <h2>Enter Email</h2>
  <form method ="post"  action="/users/forgot">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
