
<style>
  .login_div{
    background-color: lightgrey;
    box-shadow: 10px 10px 5px #888888;
    padding:4%;
    border-radius: 5px;
  }
</style>





<div class="container login_div" >
  <h2 class="page-header">USER LOGIN</h2>
  <form method="post" action="/users/login">
    <div class="form-group">
      <label>Enrollment</label>
      <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
