<div class="container">
  <h2>Reset Password</h2>
  <form method="post">
    <div class="form-group">
      <label for="pwd">New Password:</label>
      <input type="password" class="form-control"  value = "" placeholder="Enter password" name="password" autofocus="true">
    </div>
    <div class="form-group">
      <label for="pwd">Confirm Password:</label>
      <input type="password" class="form-control" value="" placeholder="confirm password" name="confirm">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
