
<style media="screen">
.reset_div{
  background-color: lightgrey;
  box-shadow: 10px 10px 5px #888888;
padding:4%;
border-radius: 4px;}
</style>

<div class="container reset_div">
  <h2>Reset Password</h2>
  <form method="post">
    <div class="form-group">
      <label for="pwd">New Password:</label>
      <input type="password" class="form-control"  value = "" placeholder="Enter password" name="password" autofocus="true">
    </div>
    <div class="form-group">
      <label for="pwd">Confirm Password:</label>
      <input type="password" class="form-control" value="" placeholder="confirm password" name="confirm">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
