<form   method="post" action="/users/api/photo">
  <div >
<input class= "btn btn-info" type="file" name="pic" class="form-control" accept="image/*">
<input class="btn btn-success" type="submit">
  </div>
 </form>
